.container { 		/*первый блок*/
	width: 100%;
	margin: 15px auto 0 auto;
	text-align: center;
}
.logo {			/*логотив kpi*/
	width: 50px;
	height: 60px;
	color: white;
	font-size: 1px;
	font-family: courier;
	text-align: center;	
	padding: 15px;
	justify-content: center;
	align-items: center;
	border-radius: 10px 10px 10px 10px;
}

.txt {
	color: #404040;
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 15px;
}
.txt1 {
	color: #404040;
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 35px;
	margin-top: 5px;
}

a{
	color: #fff;
}

.container1 {		/*второй блок*/
	width: 19%;
	height: 100%;
	background-color: none;
	margin: 15px auto 0 auto;
	text-align: center;
	padding-top: 10px;
	border-bottom: 1px solid rgb(231, 228, 228);
	border-left: 1px solid rgb(231, 228, 228);
	border-top: 1px solid rgb(231, 228, 228);
	border-right: 1px solid rgb(231, 228, 228);
	border-radius: 5px 5px 0 0;
	 
}
.auth {
	font-size: 18px;
	font-family: sans-serif;
	margin-right: 55%;
	margin-top: 10px;
	margin-bottom: 15px;
}
.container1 input {
 	width: 75%;
 	height: 30px;
 	font-size: 12px;
 	margin-bottom: 15px;
 	border-radius: 4px;
	padding-left: 1px;
	padding-right: 1px;
 	outline-color: rgb(231, 228, 228);
 	border-top: none;
 	border-left: none;
 	border-right: none;
	border-bottom: 1px solid rgb(231, 228, 228);
	border-radius: 0; 
}
 .container input:hover {
 	box-shadow: 0 0 6px 3px  rgba(58, 219, 253, 0.35)
 }

 .dws-button {
	width: 75%;
	height: 27px;
 	font-size: 11px;
	color: white;
	font-family: sans-serif;
	margin-bottom: 10px;
	padding: 4px 60px;
	background-color: #0066cc;
	/*background: linear-gradient(20deg, dodgerblue, #00008b);*/
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 3px 3px 3px 3px;
	margin-top: 5px;
	margin-bottom: 15px;
 }

 .dws-button:hover{
  	-webkit-transform: scale(0.9);
  	-ms-transform: scale(0.9);
  	transform: scale(0.9);
	background-color: blue;
 }
.forg {
	color: dodgerblue;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	
	
}

.forg:hover {
	color: red;
	border: none;
}

.social i{			/*иконки соц сетей*/
	color: rgb(153, 153, 153);
	font-size: 11.5px;
	width: 8%;
	padding: 11px 6px;
	border-radius: 3px;
	background-color: rgb(236, 236, 236, 0.5);
	margin-top: 17px;
	margin-bottom: 5px;
	
}

.social i:hover{
	-webkit-transform: scale(0.9);
  	-ms-transform: scale(0.9);
  	transform: scale(0.9);
	background-color: rgb(166, 166, 166, 0.2);
	border-radius: 2px;
	cursor: pointer;
}



.container2 {		/*третий блок*/
	margin-top: 20px;
	margin-bottom: none;
	background-color: rgb(236, 236, 236, 0.3);
	border-top: 1px solid rgb(231, 228, 228) ;

}

.text1 {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: none;
}
.sign-up {
	color:dodgerblue;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 12px;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 30px;
	font-family: sans-serif;

}

.sign-up:hover {
	color: blue;
	border: none;
}
@media screen and (max-width: 768px) {
	.container1 {
		width: 70%;
		height: 100%;
		background-color: none;		
	}
	.container { 		
		width: 100%;
		margin: 40px auto 0 auto;
		text-align: center;
	}	
}
/*@media screen and (min-width: 1400px) {
	 .container1 {
		width: 40%;
		height: 100%;
		background-color: none;
	}
	 .container { 		
		width: 40%;
		margin: 40px auto 0 auto;
		text-align: center;
	}
		 
}*/
